<div class='summary-container'>
    <div class='summary-information'>
      <div class='selected-subscription'>
        <div class='subscription-information'>
          <h3>{{formData.subscription?.name}} ({{isMonthly() ? 'Monthly' : 'Yearly'}})</h3>
          <p (click)='backToSubscriptionStep()'>Change</p>
        </div>
        <p class='subscription-price'>{{isMonthly() ? formData.subscription?.monthlyPrice : formData.subscription?.yearlyPrice}}</p>
      </div>
      <div class='selected-addons'>
        <div class='addon' *ngFor='let addon of formData.addons'>
          <p>{{addon.name}}</p>
          <div class='addon-right'>
            <h4>{{isMonthly() ? addon.monthlyAdditionalPrice : addon.yearlyAdditionalPrice}}</h4>
           
          </div>
        </div>
      </div>
    </div>
    <div class='summary-total'>
      <p>Total ({{isMonthly() ? 'per Month' : 'per Year'}})</p>
      <h4>+${{getTotalPrice()}}/{{isMonthly() ? 'months' : 'year'}}</h4>
    </div>
  </div>
  
